* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Inter", sans-serif; */
    font-family: "Poppins", sans-serif;

}
/* comon */


.container {
    width: 78%;
    margin: 0 auto;
    
}

.nave-continer {
    display: flex;
    justify-content: space-between;
    align-items:center;

}
#nave,
#hero-section {
    margin-top: 20px;
}

.nave-img {
    width: 100%;
    max-width: 148px;
}
.nave-menu {
    width: 100%;
    max-width: 48px;
}

/* hero */

.hero {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:30px;
   
}


.hero-text *{
    margin-bottom: 10px;

}

.hero-text p {
    color: #4e4e4e;
    font-family: inter;
    line-height: 26px;
 
}
.hero-text h2 {
    color: #FF136F;
    font-size:41px;

}
.hero-text button {
    width: 100%;
    max-width: 168px;
    height: 47px;
    cursor: pointer;
    background-image: linear-gradient(#FF589B,#FF136F);
}

.hero-img {
    width: 100%;
    max-width: 402px;
    height: 378px;
    background-color: #FEEAE9;
}

#hero-section {
    background-color: #FEEAE9;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 60px;
   
}

/* categories */


#product-section {
    margin-bottom: 98px;

}

.categories-text {
    margin-bottom: 24px;
    font-size: 36px;
}


.categories-boxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 26px;
    text-align: center;
}

.boxs {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 30px;
    font-size: 36px;
    color: #ffffff;
  
}
.box1 {
    background-color: #FF9C35;
  
}

.box2 {
    background-color: #FF136F;
}

.box3 {
    background-color: #3F07F8;
}


/* product-element */

.shoes-section {

}

.box {
    width: 100%;
    max-width: 384px;
    height: 100%;
    max-height: 532px;
    padding: 24px;
    border: 2px solid #929292;
    border-radius: 20px;
    border-width: 3px;
    text-align: center;
    
}

.for-shoes-img {
    width: 100%;
    max-width: 336px;
    height: 202px;
    margin-bottom: 85px;

}
.for-shoes-text {
    width: 100%;
    max-width: 307px;
    height: 260px;
}

.p {
    font-family: "Inter, sans-serif";
    color: #4E4E4E;
    
}
.text-margin *{
    margin-top: 5px;
}

.btn {
    background-color: #000000;
    color: white;
    width: 168px;
    height: 52px;
    padding: 14px 20px ;
    border-radius: 7px;
    display: flex;justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    cursor: pointer;
  
}

#product-element-2 {
    
    
    
}
.shoes-section {
    margin-top: 98px;
}
.shoes-header {
    margin-bottom: 24px;
    font-size: 24px;
}

.shoes-boxs {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    alig
    gap: 24px;
}


#fotter {
    background-color: #fff2f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: 98px;
    margin-bottom: 98px;
}

.fotter-section {
    width: 100%;
    max-width: 635px;
    height: 100%;
    max-height: 230px;
  
}

.fotter-email {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 90px;background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    

}

.fotter-text {
    text-align: center;
    padding-bottom: 5px;
}
.fotter-email button {
    background-color: #FF136F;
    width:130px;
    height: 63px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    font-size: larger;
    color: white;
    border: none;
    cursor: pointer;
    
}
.fotter-email input {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}


.button:hover {
    background-color: #FF136F;
    color: white;
    transform: scale(1.05);
    transition: background-color 0.5 ease;
}